
body{
font-family: 'Roboto', sans-serif;
font-style: normal;

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo{
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        cursor: pointer;
        text-decoration: none;
}

.remark{
    color: black;
}
.list{
    list-style: none;
}
.link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #212121;
}
.link:hover {
font-family: 'Roboto';
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
}
 .contacts{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #757575;
    text-decoration: none;

 }
 .contacts:hover{
    color: #2196F3;
 }
.tablo{
background: #2F303A;

 }
.slogan{

font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.button{
    background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        cursor: pointer;
       
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        
            color: #FFFFFF;
}

.chapter{
    font-weight: 700;
    line-height: 16px;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}

.description{
    font-weight: 400;
    line-height: 24px;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #757575;
}
.work{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.team{
    background: #F5F4FA;
}


.worker{
font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.portrait {
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.names{

font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.job{
font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.underground{
    background: #2F303A;
}
.map{
    font-family: 'Roboto';
        font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.contacts-footer{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}



.btn{
background: #F5F4FA;
border-radius: 4px;
border: 0;
cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.btn:hover {
background: #2196F3;
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.name{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.type{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;
}
.container{
    background: #FFFFFF;
        border: 1px solid #EEEEEE;
}